<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>BAST {{period.month}} {{period.year}}</title>
    <style>
        .bordered-table {
            width: 100%;
            border-collapse: collapse;
        }

        .bordered-table,
        .bordered-table th,
        .bordered-table td {
            border: 1px solid black;
        }

        .bordered-table th,
        .bordered-table td {
            padding: 8px;
            text-align: left;
        }

        .bordered-table th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>

    <div style="display: flex;gap: 20px; align-items: center;">
        <img src="{{app}}/bps-logo.svg" alt="" width="75" height="58" />
        <div>
            <span style="font-size: 22px;"><strong><em>BADAN PUSAT STATISTIK<br> <span
                            style="font-size: 19px; text-transform: uppercase;">{{region}}</span></em></span></strong><br><span
                style="font-size: 11px;">{{address}}<br><em>Homepage: </em><a href="{{website}}">{{website}}</a>
                <em>E-mail:</em> <a href="mailto:{{email}}">{{email}}</a></span>
        </div>
    </div>
    <hr>
    <p style="text-align: center; text-transform: uppercase;"><strong>BERITA ACARA SERAH TERIMA PEKERJAAN<br>MITRA
            STATISTIK BULAN {{period.month}} {{period.year}}</br>NOMOR: {{number}}</strong></p>
    <br>
    <p style="text-align: justify;">Pada hari ini {{handOver.dayText}}, tanggal {{handOver.dateText}}, bulan
        {{handOver.monthText}},
        tahun {{handOver.yearText}} bertempat di Kantor BPS {{region}}, yang bertanda tangan di bawah ini:</p>
    <br>
    <table>
        <tr>
            <td>Nama</td>
            <td>:</td>
            <td>{{authority.name}}</td>
        </tr>
        <tr>
            <td>NIP</td>
            <td>:</td>
            <td>{{authority.nip}}</td>
        </tr>
        <tr>
            <td>Jabatan</td>
            <td>:</td>
            <td>Pejabat Pembuat Komitmen BPS {{region}}</td>
        </tr>
        <tr>
            <td>Alamat</td>
            <td>:</td>
            <td>{{authority.address}}</td>
        </tr>
        <tr>
            <td colspan="3">bertindak untuk dan atas nama BPS {{region}}, selanjutnya disebut sebagai <strong>PIHAK
                    PERTAMA</strong>
            </td>
        </tr>
        <tr>
            <td colspan="3"> <br>
            </td>
        </tr>
        <tr>
            <td>Nama</td>
            <td>:</td>
            <td>{{partner.name}}</td>
        </tr>
        <tr>
            <td>NIK</td>
            <td>:</td>
            <td>{{partner.nik}}</td>
        </tr>
        <tr>
            <td>Alamat</td>
            <td>:</td>
            <td>{{partner.address}}</td>
        </tr>
        <tr>
            <td colspan="3">bertindak untuk dan atas namanya sendiri, selanjutnya disebut sebagai <strong>PIHAK
                    KEDUA</strong>
            </td>
        </tr>
    </table>
    <br>
    <p>Dengan ini menyatakan</p>
    <ol>
        <li>
            <p style="text-align: justify;"><strong>PIHAK KEDUA</strong> telah melaksanakan pekerjaan berdasarkan
                Perjanjian Kerja Mitra Statistik
                pada
                Badan Pusat Statistik {{region}} Nomor: {{contract.number}}.</p>
        </li>
        <li>
            <p style="text-align: justify;"><strong>PIHAK KEDUA</strong> telah menyelesaikan pekerjaan berdasarkan
                hasil
                pemeriksaan dan evaluasi
                pekerjaan sebagaimana tercantum dalam lampiran 1.</p>
        </li>
        <li>
            <p style="text-align: justify;">Berdasarkan angka 2 tersebut di atas, <strong>PIHAK KEDUA</strong>
                menyerahkan hasil pekerjaan kepada
                PIHAK PERTAMA,
                dan <strong>PIHAK PERTAMA</strong> menerima hasil pekerjaan tersebut yang telah sesuai dengan
                seharusnya.</p>
        </li>
    </ol>


    <div style="page-break-before: always;">
        <p style="text-align: justify;">Demikian Berita Acara ini dibuat dengan sebenarnya dalam rangkap 2 (dua) dan
            menjadi sah berlaku setelah
            ditandatangani oleh <strong>KEDUA BELAH PIHAK</strong>.</p>
        <table style="width: 100%; border-collapse: collapse;">
            <tbody>
                <tr style="height: 35px;">
                    <td style="border: 0px; padding: 8px; text-align: center; height: 35px; text-transform: uppercase;">
                        <p style="text-align: center;"><strong>PIHAK KEDUA,</strong></p>
                    </td>
                    <td style="border: 0px; padding: 8px; text-align: center; height: 35px; text-transform: uppercase;">
                        <p style="text-align: center;"><strong>PIHAK PERTAMA,</strong></p>
                    </td>
                </tr>
                <tr style="height: 100px;">
                </tr>
                <tr style="height: 35px;">
                    <td style="border: 0px; padding: 8px; text-align: center; height: 35px; text-transform: uppercase;">
                        <p style="text-align: center;"><strong>{{partner.name}}</strong></p>
                    </td>
                    <td style="border: 0px; padding: 8px; text-align: center; height: 35px; text-transform: uppercase;">
                        <p style="text-align: center;"><strong>{{authority.name}}</strong></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="page-break-before: always;">
        <p style="text-align: left; padding-left: 280px;text-transform: uppercase;">LAMPIRAN 1</br>BERITA ACARA SERAH
            TERIMA PEKERJAAN MITRA STATISTIK
            </br>NOMOR: {{number}}</p>
        <br>
        <p style="text-align: center;">DAFTAR RINCIAN SERAH TERIMA PEKERJAAN MITRA STATISTIK</p>
        <table class="bordered-table" style="margin-left: auto; margin-right: auto;">
            <tbody>
                <tr>
                    <td style="text-align: center;">
                        <p>No</p>
                    </td>
                    <td style="text-align: center;">
                        <p>Nama Barang</p>
                    </td>
                    <td style="text-align: center;">
                        <p>Satuan</p>
                    </td>
                    <td style="text-align: center;">
                        <p>Jumlah</p>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        (1)
                    </td>
                    <td style="text-align: center;">
                        (2)
                    </td>
                    <td style="text-align: center;">
                        (3)
                    </td>
                    <td style="text-align: center;">
                        (4)
                    </td>
                </tr>
                {{#each outputs}}
                <tr>
                    <td style="text-align: center;">
                        <p>{{number}}</p>
                    </td>
                    <td style="text-align: center;">
                        <p>{{name}}</p>
                    </td>
                    <td style="text-align: center;">
                        <p>{{unit}}</p>
                    </td>
                    <td style="text-align: center;">
                        <p>{{total}}</p>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</body>

</html>